
<h2> Upcoming Meetings </h2>
<% @mtgs = [] %>
<% @future_meetings.select do |meeting| %>
	<% if meeting.group_id == @user.group_id %>
		<% @mtgs << meeting %>
			<li><%= link_to meeting.name, meeting_path(meeting) %></li>
		<% end %>	
	<% end %><br>
<% if @mtgs.empty? %>
	<p>There are no upcoming metings! <%= link_to "Create a new Meeting", new_meeting_path %></p>	
	<% end %>

<h2> Past Meetings </h2>
<% @mtgs = [] %>
<% @past_meetings.select do |meeting| %>
	<% if meeting.group_id == @user.group_id %>
		<% @mtgs << meeting %>
			<li><%= link_to meeting.name, meeting_path(meeting) %></li> 
		<% end %>
	<% end %><br>
	
	<% @mtgs.empty? %>
	<p>Your group has never met!</p>

<h3>Not satisfied? <%= link_to "Create a new Meeting", new_meeting_path %></h3>



