<h2> See all active Groups:</h2>


<% @groups.each do |group| %>
	<%= link_to group.name, group_path(group) %>
	<% end %>

	<br><br>

<%= link_to("Create a New Group", new_group_path, {class: "btn btn-primary"}) %>