
<h3> Managing your book club like shlub? </h3>
<h1> Welcome to Book Club </h1>


Sign Up and Start a Group: <%= link_to("Create Group", new_group_path) %><br><br>

Sign Up to join a Group: <%= link_to("Join", new_user_path) %><br><br>

Log In: <%= link_to("Sign Back In", login_path) %>


