
<h3> Managing your book club like shlub? </h3>
<h1> Welcome to Book Clubbr </h1><br><br>


<h4>Sign Up and Start a New Group   <%= link_to("Create Group", new_group_path, {class: "btn btn-primary"}) %></h4>

<h4>Sign Up to Join an Existing Group   <%= link_to("Join", new_user_path, {class: "btn btn-primary"}) %></h4>


