<h2> Books <%= @group.name %> has read </h2>
<ul>
<% @books.each do |book| %>
<li>
	<%= link_to(book.title.split.map(&:capitalize).join(' '), book_path(book)) %><br>
	</li>
	<% end %>
	</ul>

<br><br>
<h2> All Books in the Catalog </h2>
<ul>
<% @all_books.each do |book| %>
<li>
	<%= link_to(book.title.split.map(&:capitalize).join(' '), book_path(book)) %><br>
	</li>
	<% end %>
	</ul>
	<br>

	<%= link_to("Add a book to the catalog", new_book_path) %>
