<h2>Books in the Wishlist for <%= link_to @group.name, group_path(@group) %></h2>

<table class="table table-striped table-hover ">
	<thead>
    <tr>
      <th><h4>Title</h4></th>
      <th><h4>Number of Upvotes</h4></th>
      <th><h4>Upvote</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    	<% @selected_books.uniq.each do |book| %>
      <% wishlistbook = WishlistBook.find_by(wishlist_id: @wishlist.id, book_id: book.id) %>
		 <th><h4><%= link_to book.title, book_path(book) %></h4></th>
		 <th><h4><%= pluralize(wishlistbook.votes.count, "vote") %></h4></th>
		 <th><h4><%= button_to '+1', upvote_wishlist_path(wishlistbook), method: :post %></h4></th>
    </tr>
    <% end %>
	</tbody>
</table><br>
